{% extends 'base.html' %}
{% load i18n %}
{% load static from staticfiles %}

{% block extra_js %}
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block content %}
<section class="header-content">
<!--     <div class="jumbotron">
        <h1>For the Love of Python!</h1>
            <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
            <p><a class="btn btn-primary btn-lg">Learn more</a></p>
    </div> -->
</section>

<section class="newsfeed">
    <br />
    <div class="container">
        <div class="row">
            <div class="text-center col-md-4 col-md-offset-4">
                <h3><i class="fa fa-code"></i> Meetups</h3>
                <hr>
            </div>

            <div class="clearfix"></div>

            <!-- EVENTS starts here -->
            <div class="feed">
                {% for item in feed %}
                <div class="row text-center">
                    <div class="jumbotron">
                        <h1>{{ item.title }}</h1>
                        <p><i>{{ item.description }}</i></p>
                        <br />
                        <p><strong>{{ item.event_date }}</strong> @ <u>{{ item.location }}</u></p>
                    </div>

                    <div class="speaker-container">
                        {% for talk in item.talks.all %}
                        <div class="col-sm-6 col-md-6 text-center">
                            <img src="{% if talk.image %}media/{{ talk.image }}{% else %}{% static 'img/logo-dark.png' %}{% endif %}" class="img-circle speaker-logo">
                            <h4>{{ talk.speaker }}</h4>
                            <h4><i>{{ talk.profession }}</i></h4>
                            <p>{{ talk.title }}</p>
                        </div>
                        {% endfor %}
                    </div>

                    <div class="clearfix"></div>
                    <br />
                    <div class="col-md-10 col-md-offset-1">
                        <div class="divider-inside"></div>
                        <div class="col-md-7 text-left">
                            <h4>SPONSORS:&nbsp;
                            {% for sponsor in item.sponsors.all %}
                                <a href="http://{{ sponsor.link }}">{{ sponsor.name }}</a>
                                {% if not forloop.last %},{% endif %}
                            {% endfor %}
                            </h4>
                            <p class="sponsorship-link"><i>More sponsors are always welcome, feel free to <a href="#">contact us</a></i></p>
                        </div>
                        <div class="col-md-4">
                            {% if item.active %}
                                <a href="#" class="btn btn-success btn-lg pull-right">./manage.py&nbsp;&nbsp;<strong>JOIN</strong></a>
                            {% else %}
                                <a href="#" class="btn btn-default btn-lg disabled pull-right">This is over</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <br /><br /><br />
                {% if not forloop.last %}
                    <div class="divider"></div>
                {% endif %}
                {% endfor %}
            </div>

        </div>
    </div>

</section>
{% endblock %}
