{% extends 'base.html' %}
{% load i18n %}
{% load static from staticfiles %}

{% block extra_js %}
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block content %}
<div class="extra-space"></div>

<section class="meetup">
    <div class="container">
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-dismissable alert-{{ message.tags }} pull-right">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>Well done!</strong> {{ message }}.
                </div>
                {% endfor %}
            {% endif %}
        <div class="text-center">
            <h1>{{ meetup.title|title }}</h1>
            <p>{{ meetup.description }}</p>
        </div>

        <div class="col-md-4">
            <br /><br />
            <label><strong>What:</strong></label> {{ meetup.event_type }}
            <br />
            <label><strong>When:</strong></label> {{ meetup.event_date }}
            <br />
            <label><strong>Where:</strong></label> {{ meetup.location }}
        </div>
        <div class="col-md-8">
            <h4><strong><i class="fa fa-microphone"></i> Talks</strong></h4>
            <table class="table table-striped table-bordered">
                <tr>
                    <th>Talk</th>
                    <th>Speaker</th>
                    <th>Handle</th>
                </tr>
                {% for talk in meetup.talks.all %}
                <tr>
                    <td>{{ talk.title }}</td>
                    <td>{{ talk.speaker }}</td>
                    <td><a href="http://twitter.com/{{ talk.handle }}">@{{ talk.handle }}</td>
                </tr>
                {% endfor %}
            </table>
            <!-- SPONSORS -->
            <h4><strong><i class="fa fa-thumbs-o-up"></i> SPONSORS</strong></h4>
            <ul>
                {% for sponsor in meetup.sponsors.all %}
                <li><a href="http://{{ sponsor.link }}">{{ sponsor.name }}</a></li>
                {% endfor %}
            </ul>
            <p>More sponsors are always welcome, feel free to <a href="#">contact us</a>.
        </div>

        <div class="col-md-12">
            <br />
            <h3>Registration form</h3>
            <hr>
        </div>
        <div class="pull-right">
            Remaining tickets: {{ meetup.get_available_tickets }}
        </div>
        <div class="col-md-6">
            <form class="form-horizontal" method="POST">
                {% csrf_token %}
                <fieldset>
                    <div class="form-group">
                        <label for="inputEmail" class="col-lg-2 control-label">First name</label>
                        <div class="col-lg-10">
                            {{ form.first_name.errors }}
                            <input class="form-control" {% if disabled %}disabled="disabled"{% endif %} id="inputText" placeholder="Enter first name" type="text" name="first_name">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputEmail" class="col-lg-2 control-label">Last name</label>
                        <div class="col-lg-10">
                            <input class="form-control" {% if disabled %}disabled="disabled"{% endif %} id="inputText" placeholder="Enter last name" type="text" name="last_name">
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form.email.errors }}
                        <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                        <div class="col-lg-10">
                            <input class="form-control" {% if disabled %}disabled="disabled"{% endif %} id="inputText" placeholder="Enter email" type="text" name="email">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputEmail" class="col-lg-2 control-label">Profession</label>
                        <div class="col-lg-10">
                            <input class="form-control" {% if disabled %}disabled="disabled"{% endif %} id="inputText" placeholder="If student put `Student` else enter profession" type="text" name="profession">
                        </div>
                    </div>

                        <div class="form-group">
                            <label for="select" class="col-lg-2 control-label">Python Experience</label>
                            <div class="col-lg-10">
                                <select class="form-control" {% if disabled %}disabled="disabled"{% endif %} id="select" name="python_exp">
                                    <option value="0">Noobs la</option>
                                    <option value="1">Beginner</option>
                                    <option value="2">Intermediate</option>
                                    <option value="3">Expert</option>
                                </select>
                            </div>
                        </div>

                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2 pull-right">
                            <button type="submit" class="btn btn-success {% if disabled %}disabled{% endif %}" >Submit</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</section>
{% endblock %}
