{% load i18n %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- mobile compatibility -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Python Community in Davao City">
        <meta name="keywords" content="python durian davao city programming">

        <title>{% trans 'DurianPy' %}</title>

        {% load static from staticfiles %}

        <!-- CSS Files -->

        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">

        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

        {% block extra_css %}{% endblock %}
    </head>

    <body>
        {% block main-nav %}
        <div id="main-nav" class="pull-left">
            <div class="row">
                <div class="navbar-left sub-nav">
                    <ul class="nav navbar-nav" style="margin:0px 1px 0 60px;">
                        <li>
                            <img src="{% static 'img/durianpy-text-logo.png' %}" width="232px;">
                        </li>
                    </ul>
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="{% url 'index' %}"><h4>News</h4></a>
                        </li>
                        <li>
                            <a href="{% url 'contact' %}"><h4>About</h4></a>
                        </li>
                        <li>
                            <a href="#"><h4>Sponsorship</h4></a>
                        </li>
                        <li>
                            <a href="{% url 'archive' %}"><h4>Archive</h4></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% endblock %}

        {% block content %}
        {% endblock %}

        <footer>
            <div class="row">
                <div class="col-md-1">
                    <img src="{% static 'img/logo-trans.png' %}" class="logo-footer"/>
                </div>
                <div class="col-md-4 text-left">
                    <h3>Durianpy</h3>
                    <h5><i>Python Enthausiasts in Davao City</i></h5>
                </div>
            </div>
        </footer>

        <!-- JAVASCRIPT Files -->
        <script>window.jQuery || document.write("<script src='{% static 'js/jquery-1.11.0.js' %}'><\/script>")</script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>

        {% block extra_js %}{% endblock %}
    </body>

</html>
